<!-- Card content -->
<div class="card">
  <div class="card-header">
    <div class="profile-image">
      <a class="nav-link" href="{{ url_for('profile', user_id=post.user_id) }}">
        <img
          src="{{ url_for('static', filename='/photo/user_profile/'+post.author.profile_picture) }}"
          width="60"
          height="60"
          alt=""
        />
      </a>
      <div style="width: 300px">
        <p id="name">
          <a
            class="nav-link"
            href="{{ url_for('profile', user_id=post.user_id) }}"
          >
            {{ post.author.username }}
          </a>
        </p>
        <p class="text-muted mb-0">
          <i class="fa-regular fa-clock"></i>
          {{ post.created_date.strftime('%d-%m-%Y %H:%M') }}
        </p>
      </div>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text" id="card-description">{{ post.content | safe }}</p>
    <div class="tags-container">
      <ul class="list-group list-group-horizontal">
        <i class="fas fa-tag"></i>
        <a href="{{ url_for('home_tag', tag=post.tag) }}" class="tag"
          >{{ post.tag }}</a
        >
      </ul>
    </div>
  </div>
  <!-- Flash messages -->
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %}
  <div class="flashes">
    {% for category, message in messages %}
    <div class="{{ category }}">{{ message }}</div>
    {% endfor %}
  </div>
  {% endif %} {% endwith %}
  <!-- Like button form -->
  <form
    action="{{ url_for('like_post', post_id=post.id) }}"
    method="post"
    style="display: inline"
  >
    <div class="card-end" style="border-bottom: #958787 solid 1px">
      <button
        type="submit"
        class="btn btn-light heart-button"
        onclick="toggleHeart(this)"
      >
        <i class="far fa-heart"></i>
        <span>{{ post.likes }}</span>
      </button>
    </div>
  </form>
  <!-- Comment box -->
  <div class="timeline-comment-box">
    <div class="user">
      <a
        class="nav-link"
        href="{{ url_for('profile', user_id=current_user.id) }}"
      >
        <img
          src="{{ url_for('static', filename='/photo/user_profile/' + current_user.profile_picture) }}"
          width="25"
          height="25"
          alt=""
        />
        {{ current_user.username }}
      </a>
    </div>
    <div class="input">
      <form method="post">
        {{ comment_form.hidden_tag() }} {{ comment_form.content.label }}<br />
        {{ comment_form.content(cols=50, rows=2) }}<br />
        {{ comment_form.submit() }}
      </form>
    </div>
  </div>

  <!-- Comments section -->
  <ul class="comments-list">
    {% for comment in post.comments %}
    <li>
      <a
        class="nav-link"
        href="{{ url_for('profile', user_id=comment.author.id) }}"
      >
        <img
          src="{{ url_for('static', filename='/photo/user_profile/' + comment.author.profile_picture) }}"
          width="25"
          height="25"
          alt=""
        />
        {{ comment.author.username }}
      </a>
      {{ comment.content }}
    </li>
    {% endfor %}
  </ul>
</div>
